.wrapper_Cards {
  height: 100vh;
  /* margin: 5px; */
  display: flex;
  justify-content: center;
  /*background-color: #efefef; /* para que se vean las cards*/
}

.card_Destacado {
  margin-bottom: 20px;
}

.encabezado {
  /* margin-left: -35px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: #f2f2f2;*/
  background-color: #ffff;
  width: 100%;
  /* margin-top: -10px; */
}

.encabezado__texto {
	font-size: 16px;
  font-weight: 500;
}

.encabezado_extra{
	display: flex;
	flex-direction: row;
	
}

.encabezado__label{
	margin-right: 10px;
	margin-top: 1px;
	color: #56b43c;
	font-weight: 600;
}

.encabezado__switch {
	margin-right: 15px;
}

.add {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
}

.historial_wrapper {
  margin-left: 20px;
  margin-top: 1rem;
  margin-left: 0;
}

.historial_wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
