.tags_wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	min-height: 24px;
	content: '.';
	margin-bottom: 4px;	
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    max-width: 100%;
    margin-right: 5px;
    width: 70%;
    background-color: rgb(0, 162, 255);
    padding: 2px 8px;
    cursor: pointer;
    color: white;
    transition: all ease-in-out 300ms;
}

.tag_name{
    padding: 2px 8px;
    font-weight: 600;
}

.tag:hover {
    transition: all ease-in-out 300ms;
    box-sizing: border-box;
    border-left: 8px solid rgba(0, 0, 0, 0.329);
}